

<form asp-action="Index" asp-controller="">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="value" placeholder="Enter contact count and search value">
        <button class="btn btn-outline-secondary" type="submit" id="button-add-vcards">
            Get Contact or Search
        </button>
    </div>
</form>